@import url(https://fonts.googleapis.com/css?family=Montserrat:700,400|PT+Serif:400,400italic,700italic,700|PT+Serif+Caption:400,400italic);

$color-bg: #584f50;
$color-accent: #88b067;
$color-base: #3d3334;
$font-stack: 'Montserrat',"Bebas Neue", sans-serif;
$font-nav: 16px;
$font-sub: 21px;
$font-accent: 'PT Serif', 'Georgia', sans-serif;
$color-font: white;
$outside-margin: 3%;
$button-stroke: 2px;