@import "_base.scss";

div{
	background-color: $color-accent;
	width: 100vw;
	padding: 10px;
	color:white;
}

div h1{
	position: absolute;
	top: $outside-margin;
	color: white;
	font-family: $font-stack;
	text-transform: uppercase;
	text-align:center;
}

div p{
	position: absolute;
	top: $outside-margin * 4;
	font-family: $font-accent;
	color: white;
	margin: auto;
	text-align:center;
	margin-left: $outside-margin;
}

div p a{
	text-decoration: underline;
	color: $color-accent;
}